.App {
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  background: var(--white);
  color: var(--black);
  min-height: 100vh;
  /* max-height: 100vh; */
  position: relative;
  /* overflow-y: hidden; */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home{
  display: flex;
  height: 100%;
  justify-content: center;
}
.left-container{
  display: flex;
  width: 60% !important;
}
.video-style{
  display: flex;
  width: 100%;
}
.middle-container{
  display: inline-block;
  top: 15px !important;
  height: 130px !important;
  text-align: center;
  justify-content: middle;
  align-items: center;
  position: sticky !important;
  transform: translateX(-50%);
}
.middle-container a{
  text-decoration: none;
  font-family: plantin, sans-serif;
  height: 100% !important;
  position: relative !important;
}
.middle-container a:hover{
  color: black;
}
.middle-container h1{
  font-size: 400% !important;
  position: absolute !important;
  top: -87px !important;
  left: 43px !important;
}
.home-bottom a{
  color: white !important;
  font-size: 8px !important;
}
.middle-container h1:hover{
color: black;
}
.middle-container img{
  height: 100% !important;
  position: relative !important;
  animation: Rotation 20s linear infinite;
}
@keyframes Rotation {
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}
.right-container{
  display: flex;
  left: -150px !important;
  width: 40% !important;
}
.home-text{
  max-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: min(81px);
}
h2{
  font-family: plantin-condensed, sans-serif;
  font-stretch: ultra-condensed !important;
  font-size: 700%;
}
h2 i{
  font-family: plantin, sans-serif;
}
p{
  font-family: IBM plex sans, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: clamp(0.8rem, 1.15vw, 1.15rem);
}
a {
  text-decoration: underline;
  color: black;
}
a:hover{
  color: #B83C58;
}
.italics_p{
  font-weight: 500;
  font-style: italic;
}

@media screen and (max-width: 992px){
  .App{    
    min-height: auto !important;
    max-height: 100% !important;
    overflow-x: hidden;
  }
  .home{
    display: flex;
    height: auto !important;
    flex-direction: column-reverse;
  }
  .left-container{
    display: flex;
    flex: auto;
    width: 100% !important;
  }
  .middle-container{
    position: absolute !important;
    top: 465px !important;
    right: 50px  !important;
  }
  .right-container{
    padding-top: 10% !important;
    padding-left: 10% !important;
    width: 100% !important;
    padding-bottom: 10% !important;
  }
}


/*lorem page*/

.loremsite {
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow-y: hidden;
}
#copyOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  transition: opacity 1.5s linear;
}
/* Copy Modal */
.copy-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
}
.modal--show {
    visibility: visible;
    opacity: 0;
}
.modal--hidden {
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s 1.5s;
}
#copyText {
  margin-top: 40vh;
}
#copyText p {
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: bold;
  color: #fff;
}
.loremsite {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.main-content {
  display: flex;
  width: 100%;
}
.left-lorem-container{
  width: 40%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.left-lorem-container .title{
  font-family: "roc-grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left !important;
  font-size: 56px !important;
}
.description {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: left !important;
  font-size: 18px;
  margin-bottom: 20px;
}
.language-button {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
.plaintain-button, .platano-button {
  background-color: transparent;
  border: 2px solid;
  text-transform: uppercase !important;
  border-radius: 20px !important;;
  font-size: 14px;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding: 5px 16px;
  cursor: pointer;
}

.form{
  text-align: left !important;
}
.paragraph-number {
  width: 300px;
  padding: 10px 16px;
  text-align: left;
  border: 2px solid;
  background: transparent;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 0 !important;
}
.paragraph-number::placeholder {
  opacity: 1; /* Ensures full color visibility */
}

.generate-button {
  width: 300px;
  margin-top: 10px;
  padding: 10px 20px;
  text-transform: uppercase !important;
  border: 2px solid ;
  cursor: pointer;
  font-size: 14px;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.made-by{
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 20px;
  text-align: left;
}
.credit{
  font-weight: 400;
  font-family: 'VulfSansDemo';
  font-size: 12px;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.credit a{
  text-decoration: none;
}
.linkwave {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 8px 3px;
  text-decoration: none !important;
  padding-bottom: 2px;
}

.right-lorem-container{
  width: 60%;
  padding: 80px !important;
  text-align: right;
  overflow-y: scroll;
  scroll-behavior: auto;;
}

.copy-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 20px !important;
  text-transform: uppercase !important;
  padding: 5px 16px;
  border: 2px solid;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  font-size: 14px;
}

.generated-text {
  font-size: 16px;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.generated-text p {
  font-size: 16px;
  text-align: left;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  animation: fadein 2s;
  margin-bottom: 1em; /* Adds space below each paragraph */
}

.generated-text p:first-child {
  margin-top: 0;
}

.generated-text p:last-child {
  margin-bottom: 0;
}

label {
  display: block;
  font-weight: bold;
}

input {
  font-size: 16px;
  padding: 5px;
  margin: 15px 0;
  text-align: center;
  border: 1px solid #fff;
  color: #2C3238;
}

input:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.plaintain-button.active, .platano-button.active {
  padding: 5px 16px;
}
.paragraph-number::placeholder {
  color: var(--placeholder-color);
  opacity: 0.7; /* Ensures visibility in some browsers */
}

/* Responsive adjustments */
@media (max-width: 940px) {
  .loremsite {
    flex-direction: column;
    height: 100vh;
  }
  .plaintain-button, .platano-button  {
    padding: 5px 45px !important;
    width: 50% !important;
  }
  .riddims  {
    width: 100% !important;
  }
  .main-content {
    flex-direction: column;
    height: 100vh;
  }

  .left-lorem-container{
    width: 100%;
    padding: 20px !important;
    align-items: flex-start;
    text-align: left;
    padding-bottom: 5px !important;
  }
  
  .left-lorem-container .title,
  .description {
    text-align: center !important;
  }

  .language-button {
    justify-content: flex-start;
    width: 100% !important;
  }
  .description{
    margin-bottom: 0px;
  }

  .paragraph-number,
  .generate-button {
    width: 100%;
    max-width: 100%;
  }

  .right-lorem-container {
    text-align: left;
    width: 100%;
    padding: 0px 20px !important;
    overflow-y: auto;
  }

  .copy-button {
    position: fixed;
    bottom: max(20px, env(safe-area-inset-bottom, 20px));
    top: auto;
    width: 95% !important;
    right: 0;
    left: 50%;
    transform: translateX(-50%) !important;
    z-index: 99 !important;
  }
  .generated-text {
    text-align: left;
    padding: 10px;
    font-size: 14px;
  }
  .made-by {
    display: none !important;
  }
}



/* New About page */
.about-page {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow-y: hidden;
}


.top-nav {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  padding-left:20px;
  padding-right: 20px;
}

.top-nav nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}


.top-nav .lang {
  margin-left: auto;
}

.about-content {
  max-width: 700px;
  margin: 3rem auto;
  flex-grow: 1;
  align-content: center;
  vertical-align: middle;
}

.underline {
  text-decoration: underline;
}

.about-services {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.about-services h4 {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 0.5rem;
  text-align: left;
}

.about-services ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.wellness-note {
  margin-top: 2rem;
  font-size: 0.9rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  border-top: 1px solid #eee;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
/* New Home page */

.newhome-page{
  min-height: 100vh;
  position: relative !important;
  overflow-y: auto !important;
  display: flex;
  flex-direction: column
}

.home-content {
  /* margin: 0 auto; */
  padding: 80px 20px;
  flex-grow: 1;
  align-content: center;
  vertical-align: middle;
}

.headline {
  font-size: 1.8rem;
  max-width: 500px;
  text-align: left;
  margin-bottom: 48px;
  line-height: 1.3;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  margin-bottom: 44px;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.testimonial {
  text-align: center;
  margin: 0;
  border-top: 1px solid #eee;
  padding-top: 80px;
  padding-bottom: 80px;
}

.label {
  font-size: 0.85rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.quote-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.quote-nav blockquote {
  max-width: 600px;
  font-size: 1.2rem;
  font-style: italic;
  margin: 0;
}

.quote-nav footer {
  margin-top: 1rem;
  font-size: 0.85rem;
  font-style: normal;
}
