.App {
  text-align: center;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-weight: 400;
  background: var(--white);
  color: var(--black);
  min-height: 100vh;
  /* max-height: 100vh; */
  position: relative;
  /* overflow-y: hidden; */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.old-home{
  display: flex;
  height: 100%;
  justify-content: center;
}
.left-container{
  display: flex;
  width: 60% !important;
}
.video-style{
  display: flex;
  width: 100%;
}
.middle-container{
  display: inline-block;
  top: 15px !important;
  height: 130px !important;
  text-align: center;
  justify-content: middle;
  align-items: center;
  position: sticky !important;
  transform: translateX(-50%);
}
.middle-container a{
  text-decoration: none;
  font-family: plantin, sans-serif;
  height: 100% !important;
  position: relative !important;
}
.middle-container a:hover{
  color: black;
}
.middle-container h1{
  font-size: 400% !important;
  position: absolute !important;
  top: -87px !important;
  left: 43px !important;
}
.middle-container h1:hover{
color: black;
}
.middle-container img{
  height: 100% !important;
  position: relative !important;
  animation: Rotation 20s linear infinite;
}
@keyframes Rotation {
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}
.right-container{
  display: flex;
  left: -150px !important;
  width: 40% !important;
}
.old-home-text{
  max-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: min(81px);
}
.old-home-text h2{
  font-family: plantin-condensed, sans-serif;
  font-stretch: ultra-condensed !important;
  font-size: 700%;
}
.old-home-text h2 i{
  font-family: plantin, sans-serif;
}
.old-home-text p{
  font-family: IBM plex sans, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: clamp(0.8rem, 1.15vw, 1.15rem);
}
.old-home-text a {
  text-decoration: underline;
  color: black;
}
.old-home-text a:hover{
  color: #B83C58;
}
.old-home-text .italics_p{
  font-weight: 500;
  font-style: italic;
}

@media screen and (max-width: 992px){
  .App{    
    /* min-height: auto !important;
    max-height: 100% !important; */
    /* overflow-x: hidden; */
  }
  .old-home{
    display: flex;
    height: auto !important;
    flex-direction: column-reverse;
  }
  .left-container{
    display: flex;
    flex: auto;
    width: 100% !important;
  }
  .middle-container{
    position: absolute !important;
    top: 465px !important;
    right: 50px  !important;
  }
  .right-container{
    padding-top: 10% !important;
    padding-left: 10% !important;
    width: 100% !important;
    padding-bottom: 10% !important;
  }
}


/*lorem page*/

.loremsite {
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow-y: hidden;
}
#copyOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  transition: opacity 1.5s linear;
}
/* Copy Modal */
.copy-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
}
.modal--show {
    visibility: visible;
    opacity: 0;
}
.modal--hidden {
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s 1.5s;
}
#copyText {
  margin-top: 40vh;
}
#copyText p {
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: bold;
  color: #fff;
}
.loremsite {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: "space-grotesk-variable", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.main-content {
  display: flex;
  width: 100%;
}
.left-lorem-container{
  width: 40%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.left-lorem-container .title{
  font-family: "roc-grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left !important;
  font-size: 56px !important;
}
.description {
  font-family: "space-grotesk-variable", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: left !important;
  font-size: 18px;
  margin-bottom: 20px;
}
.language-button {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;

}
.plaintain-button, .platano-button {
  background-color: transparent;
  border: 2px solid;
  text-transform: uppercase !important;
  border-radius: 20px !important;;
  font-size: 14px;
  font-family: "space-grotesk-variable", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding: 5px 16px;
  cursor: pointer;
}

.form{
  text-align: left !important;
}
.paragraph-number {
  width: 300px;
  padding: 10px 16px;
  text-align: left;
  border: 2px solid;
  background: transparent;
  font-family: "space-grotesk-variable", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 0 !important;
}
.paragraph-number::placeholder {
  opacity: 1; /* Ensures full color visibility */
}

.generate-button {
  width: 300px;
  margin-top: 10px;
  padding: 10px 20px;
  text-transform: uppercase !important;
  border: 2px solid ;
  cursor: pointer;
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.made-by{
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 20px;
  text-align: left;
}
.credit{
  font-weight: 400;
  font-size: 12px;
  font-family: "space-grotesk-variable", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.credit a{
  text-decoration: none;
}
.linkwave {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 8px 3px;
  text-decoration: none !important;
  padding-bottom: 2px;
}

.right-lorem-container{
  width: 60%;
  padding: 80px !important;
  text-align: right;
  overflow-y: scroll;
  scroll-behavior: auto;;
}

.copy-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 20px !important;
  text-transform: uppercase !important;
  padding: 5px 16px;
  border: 2px solid;
  font-family: "space-grotesk-variable", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  font-size: 14px;
}

.generated-text {
  font-size: 16px;
  font-family: "space-grotesk-variable", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.generated-text p {
  font-size: 16px;
  text-align: left;
  font-family: "space-grotesk-variable", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  animation: fadein 2s;
  margin-bottom: 1em; /* Adds space below each paragraph */
}

.generated-text p:first-child {
  margin-top: 0;
}

.generated-text p:last-child {
  margin-bottom: 0;
}

label {
  display: block;
  font-weight: bold;
}

input {
  font-size: 16px;
  padding: 5px;
  margin: 15px 0;
  text-align: center;
  border: 1px solid #fff;
  color: #2C3238;
}

input:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.plaintain-button.active, .platano-button.active {
  padding: 5px 16px;
}
.paragraph-number::placeholder {
  color: var(--placeholder-color);
  opacity: 0.7; /* Ensures visibility in some browsers */
}

/* Responsive adjustments */
@media (max-width: 940px) {
  .loremsite {
    flex-direction: column;
    height: 100vh;
  }
  .plaintain-button, .platano-button  {
    padding: 5px 45px !important;
    width: 50% !important;
  }
  .riddims  {
    width: 100% !important;
  }
  .main-content {
    flex-direction: column;
    height: 100vh;
  }

  .left-lorem-container{
    width: 100%;
    padding: 20px !important;
    align-items: flex-start;
    text-align: left;
    padding-bottom: 5px !important;
  }
  
  .left-lorem-container .title,
  .description {
    text-align: center !important;
  }

  .language-button {
    justify-content: flex-start;
    width: 100% !important;
  }
  .description{
    margin-bottom: 0px;
  }

  .paragraph-number,
  .generate-button {
    width: 100%;
    max-width: 100%;
  }

  .right-lorem-container {
    text-align: left;
    width: 100%;
    padding: 0px 20px !important;
    overflow-y: auto;
  }

  .copy-button {
    position: fixed;
    bottom: max(20px, env(safe-area-inset-bottom, 20px));
    top: auto;
    width: 95% !important;
    right: 0;
    left: 50%;
    transform: translateX(-50%) !important;
    z-index: 99 !important;
  }
  .generated-text {
    text-align: left;
    padding: 10px;
    font-size: 14px;
  }
  .made-by {
    display: none !important;
  }
}

/* New Proof Fonts */

.alegreya {
  font-family: "alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.soleil-reg{
  font-family: "soleil", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.soleil-it{
  font-family: "soleil", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.soleil-bold{
  font-family: "soleil", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.soleil-bold-it{
  font-family: "soleil", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* New About page */
.about-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* max-height: 100vh; */
  position: relative;
  /* overflow-y: hidden; */
}



.about-content {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 104px;
  margin-bottom: 98px;
  flex-grow: 1;
  align-content: center;
  vertical-align: middle;
  text-align: left;
}
.about-header{
  font-family: "alegreya", serif;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: -0.36px;
  line-height: 130%;
  margin-bottom: 16px;
} 
.about-text{
  font-family: "soleil", sans-serif;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 160%;
} 

.underline {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: none;
}

.about-services {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 64px;
  flex-wrap: wrap;
  max-width: 480px;
}

.about-services h4 {
  font-style: italic;
  font-weight: 500 !important;
  margin-bottom: 16px;
  text-align: left;
  font-family: "alegreya", serif;
  font-size: 16px;
  letter-spacing: -0.36px;
  line-height: 130%;
}

.about-services ul {
  list-style: none;
  padding-bottom: 6px;
  margin: 0;
  text-align: left;
  font-family: "soleil", sans-serif;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 130%;
}

.about-services li {
  margin-bottom: 6px;
}
.wellness-note {
  margin-top: 64px;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 500;
  text-align: left;
  font-family: "alegreya", serif;
  font-size: 16px;
  letter-spacing: -0.36px;
  line-height: 130%;
}

/* New Home page */

.newhome-page{
  /* min-height: 100vh; */
  /* position: relative !important;
  display: flex;
  flex-direction: column */
}

.home-content {
  /* margin: 0 auto; */
  /* padding: 60px 0px; */
  flex-grow: 1;
  align-content: center;
  vertical-align: middle;
}

.headline {
  font-family: "alegreya", serif;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 46px;
  padding-top: 104px;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: -0.36px;
  max-width: 860px;
  text-align: left;
  line-height:125%;
}
.work-grid-wrapper {
  margin: 0 auto;
  overflow: hidden; /* prevent accidental overflow */
  padding-left: 40px;
  padding-right: 40px;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Force 2 across */
  gap: 24px;
}

.work-tile {
  position: relative;
  border-radius: 10px;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  overflow: hidden;

}
.newhome-page a{
  color: black;
}
.about-page a{
  color: black;
}
.newhome-page a:hover{
  color: black;
  text-decoration: none;
}
.about-page a:hover{
  color: black;
  text-decoration: none;

}

/* .overlay-video {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
} */

/* Mobile responsiveness */
@media (max-width: 768px) {
  .work-grid {
    grid-template-columns: 1fr;
  }
  .headline {
      padding-right: 12px;
      padding-left: 12px;
      padding-bottom: 16px;
      padding-top: 59px;
  }
  .work-grid-wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
  .work-grid {
    gap: 8px;
  }
  .testimonial {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 28px;
    padding-top: 66px;
    padding-bottom: 74px;
  }
  
  .about-content {
    margin-top: 64px;
    margin-bottom: 57px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .overlay-video {
    width: 80%;
    bottom: 8%;
  }
  .wellness-note {
    margin-top: 44px;
  }
  .about-services{
    margin-top: 44px;
  }
}

.testimonial {
  text-align: center;
  margin-top: 48px;
  border-top: 1px solid #eee;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 65px;
}

.label {
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 115%;
  font-family: "soleil", sans-serif;
  margin-bottom: 20px;
}

.quote-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 1rem; */
}

blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 860px;
}
.quote-text {
  font-family: "alegreya", serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -0.36px;
  padding-right: 40px;
  padding-left: 40px;
  line-height: 130%;
  margin: 0;
}

.quotation-attr {
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 0.14px; 
  line-height: 115%;
  font-family: "soleil", sans-serif;
}
.quote-nav button {
  background: none;
  border: none;
  padding: 0;
}

.quote-nav img {
  width: 19px;
  height: auto;
  cursor: pointer;
}
/* Mobile styles */
@media (max-width: 768px) {
  .quote-text{
    font-size: 28px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .headline {
    font-size: 28px;
  }
  .logo{
    top: 5px;
  }
  .quote-nav img {
    width: 15px;
  }
  .nav-container {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }
  
}


/* Header and Footer */
.site-header {
  position: relative;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-family: "soleil", sans-serif;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 115%;
  font-size: 0.9rem;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Left & right navs */
.nav-left,
.nav-right {
  display: flex;
  gap: 1rem;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: "soleil", sans-serif;
}
.nav-left a:hover,
.nav-right a:hover {
  text-decoration: underline;
}

/* Centered logo */
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "alegreya", serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -0.36px;
  line-height: 130%;
}
.logo a{
  text-decoration: none !important;
}
.footer-logo a{
  text-decoration: none !important;
}


/* Hide menu button on desktop */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 999;
}
.lang{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "soleil", sans-serif;
}
.lang:hover{
  text-decoration: underline;
}

.menu-toggle img{
  width: 32px;
  height: auto;
}
.close-menu img{
  width: 32px;
  height: auto;
}


/* Mobile nav */
.mobile-nav {
  position: fixed;
  inset: 0;
  background: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.mobile-nav.active {
  display: flex;
}

.mobile-nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.mobile-nav li {
  margin-bottom: 8px;
  font-size: 48px;
  font-family: "alegreya", serif;
  letter-spacing: -0.36px;
  line-height: 130%;
}
.mobile-nav li a{
  text-decoration: none;
}
.mobile-nav li a:hover{
  text-decoration: underline;
}
.mobile-nav .social-first {
  margin-bottom: 16px;
  margin-top: 28px;
}
.mobile-nav .social {
  font-size: 14px;
  font-family: "soleil", sans-serif;
  letter-spacing: 0.28px;
  line-height: 115%;

}

.close-menu {
  position: absolute;
  top: 5px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}


footer {
  border-top: 1px solid #eee;
}
.footer-right-nav{
  color: black;
  opacity: 0.5;
  font-size: 12px; 
}
/* Centered logo */
.footer-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "alegreya", serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -0.36px;
  line-height: 130%;
}
.site-footer {
  position: relative;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between;
  position: relative; */
  font-family: "soleil", sans-serif;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 115%;
  font-size: 0.9rem;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* .footer-links a {
  display: block;
  margin-bottom: 0.5rem;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
} */

/* Left & right navs */
.footer-left,
.footer-right {
  display: flex;
  gap: 1rem;
}

.footer-left a,
.footer-right a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}
.footer-left a:hover,
.footer-right a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
 
  .footer-links {
    display: flex;
    gap: 1.5rem;
  }

  .footer-links a {
    margin-bottom: 0;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-left,
  .nav-right {
    display: none;
  }
  .footer-left {
    padding-bottom: 80px;
  }
  .footer-logo {
    bottom: 40px;
  }
  .footer-container {
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
  }
  
  .menu-toggle {
    display: block;
    text-align: right;
  }

  .logo {
    left: 50%;
    transform: translateX(-50%);
  }
}
