.App {
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  background: var(--white);
  color: var(--black);
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow-y: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.home{
  /* border: 1px solid black; */
  display: flex;
  height: 100%;
  justify-content: center;
}
.left-container{
  /* border: 1px red solid; */
  display: flex;
  flex: 1;
}
.video-style{
  display: flex;
  /* overflow-y: hidden; */
  width: 100%;
  /* width="100%" height="100%" */
}
.middle-container{
  height: 100px !important;
  position: absolute !important;

}
.middle-container img{
  height: 100% !important;
  top: 15px !important;
  position:relative !important;
  animation: Rotation 20s linear infinite;
}
@keyframes Rotation {
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}
.right-container{
  /* border: 1px yellow solid; */
  display: flex;
  flex: 1;
}
.home-text{
  max-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: min(10%, 20%);
}
h2{
  font-family: plantin, sans-serif;
  font-weight: 400;
  font-size: clamp(1.6rem, 3vw, 3rem);

}
p{
  font-weight: 400;
  line-height: 1.6;
  font-size: clamp(0.8rem, 1.15vw, 1.15rem);
}
a {
  text-decoration: underline;
  color: black;
}
a:hover{
  color: #B83C58;
}
.italics_p{
  font-weight: 500;
  font-style: italic;
}

@media screen and (max-width: 600px){
  .App{    
    min-height: auto !important;
    max-height: 100% !important;
    overflow-x: hidden;
  }
  .home{
    /* border: 1px solid black; */
    display: flex;
    height: auto !important;
    flex-direction: column-reverse;
  }
  .left-container{
    /* border: 1px red solid; */
    display: flex;
    flex: auto;
  }
  .video-style{
    display: flex;
    width: 100%;
    height: 100% !important;
    /* width="100%" height="100%" */
  }
  .middle-container{
    top: 350px !important;
    right: 5px !important;
  }
}
